* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

.menuprin{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.menuprin div {
    padding: 0.5rem 1rem;
}

.piedepag{
    background-color: violet;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1rem;
}