* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

.menuprin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.menuprin li{
    text-align: center;
}